/* Excalidraw style modifications */

.dropdown-menu-container {
  height: calc(var(--tw-excalidraw-height) - 100px)
}

/* Default Excalidraw styles */

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-wrapper {
  height: 800px;
  margin: 50px;
  position: relative;
}

:root[dir='ltr']
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}